*{
    margin:0;
    padding:0;
    font-size: 25px;
}
.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc{
    background-color: black;
    padding:30px;
    padding-bottom: 80px;
    height:450px;
    width:400px;
    border-radius: 10px;
}
.row{
    width:100%;
    margin:10px;
}
.input{
margin-bottom: 20px;
width:90%;
color:white;
height:40px;
border:none;
outline:none;
padding:10px;
background-color: rgb(39, 39, 39);
border-radius: 8px;
}

.button{
    color:white;
    background-color: black;
    cursor: pointer;
    width:80px;
    height:60px;
    margin:5px;
    border:none;
    border-radius: 5px;
}
.button:hover{
    background-color: rgb(48, 47, 47);
    box-shadow: 2px 3px 8px rgb(53, 53, 54);
}
